/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'scEpigenome'
  description = 'Nextflow pipeline for scChIPseq inDrop data analysis'
  homePage = 'https://gitlab.curie.fr/sc-platform/scepigenome/-/tree/scCutTag-inDrop'
  author = 'P. Prompsy, Bioinformatics core facility'
  version = '2.0.0dev'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  doi = ''
}

/**********
 * Params *
 **********/

params {
  email = false
  help = false
  design = false

  // Analysis parameters
  protocol = false 
  name = "${params.protocol}"
  genome = false
  reads = null
  readPaths = null
  samplePlan = false
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"
  metadata = "$projectDir/assets/metadata.tsv"

  // Barcodes
  mapqBarcode = 40
  barcodeTag = 'XB'
  darkCycleDesign = false
  barcode_linker_length = 83

  // Processing
  mapq = 20
  rmSingleton = false
  keepDups = false
  distDup = 50
  keepRTdup = false

  keepBlackList = false
  saveIntermediates = false

  //Matrices
  minReadsPerCellmatrix = 100
  binSize = '50000'
  tssSize = 5000

  //Peaks
  macs2_sharp= "-p 0.001"
  max_feature_dist_sharp = 1000

  skipMultiQC = false
  skipSoftVersions = false
  skipBigwig = false
  peakCalling = false

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
  tmpDir = './'
}


/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
