/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'scEpigenome'
  description = 'Nextflow pipeline for single-cell epigenomics data analysis'
  homePage = 'https://gitlab.curie.fr/sc-platform/scepigenome/-/tree/scCutTag-inDrop'
  author = 'L. Hadj-Abed, P. Prompsy, C. Vallot, N. Servant'
  version = '2.2.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.10.0'
  doi = ''
}

/************
 * Plug-ins *
 ***********/

plugins {
  id 'nf-boost'
}

if (params.cleanup == "auto"){ 
  boost.cleanup = true
  boost.cleanupInterval = '180s'
}

/**********
 * Params *
 **********/

params {
  email = false
  help = false
  design = false

  // Analysis parameters
  protocol = false 
  name = "${params.protocol}"
  genome = false
  reads = null
  readPaths = null
  samplePlan = false
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"
  metadata = "$projectDir/assets/metadata.tsv"
  
  //bioname
  sampleDescription=null

  // Fastq
  //batchPerSize=true
  batchSize = 100

  // Barcodes
  mapqBarcode = 40
  barcodeTag = 'XB'
  darkCycleDesign = false
  //barcode_linker_length = 83

  // Processing
  aligner = 'star'
  mapq = 20
  rmSingleton = false
  rmSecondAlign = true
  rmPCRdups = true
  distDup = 50
  extraDup = false
  keepRTdup = false
  keepBlackList = false

  //Matrices
  minReadsPerCellmatrix = 100
  createBinMatrix = false
  binSize = '50000'
  tssSize = 5000

  //Peaks
  peakCalling = false
  macs2Opts = "--nomodel --extsize 200 --keep-dup all -f BAM -p 0.001"
  peakDist = 1000 //merger les peaks dans des intervalles a +/- 1000 bp

  //skip
  skipBigwig = false
  skipMultiQC = false
  skipSoftVersions = false

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
  tmpDir = './'
  saveIntermediates = false
  cleanup = 'none' // [none, auto, success]
}


/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
