docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:python { container = "python" }
  withLabel:pytabix { container = "pytabix" }
  withLabel:multiqc { container = "multiqc" }
  withLabel:R{ container = "R" }
  withLabel:bedtools{ container = "bedtools" }
  withLabel:bowtie2{ container = "bowtie2" }
  withLabel:cutadapt{ container = "cutadapt" }
  withLabel:deeptools{ container = "deeptools" }
  withLabel:homer{ container = "homer" }
  withLabel:samtools{ container = "samtools" }
  withLabel:seqkit{ container = "seqkit" }
  withLabel:picard{ container = "picard" }
  withLabel:macs2{ container = "macs2" }
}
