/*
 * Define modules options
 */


process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

  withName: 'bcAlign' {
    publishDir = [
      [
        path: { "${params.outDir}/bcAlign" },
        mode: 'copy',
        pattern: "*._ReadsMatchingSorted.txt"
      ],
      [
        path: { "${params.outDir}/bcAlign" },
        mode: 'copy',
        pattern: "*_count_index.txt"
      ],
      [
        path: { "${params.outDir}/bcAlign" },
        mode: 'copy',
        pattern: "*Bowtie2.log"
      ],
      [
        path: { "${params.outDir}/bcAlign" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ]
    ]
  }

  withName: 'bcSubset' {
    publishDir = [
      [
        path: { "${params.outDir}/bcSubset" },
        mode: 'copy',
        pattern: "*_read_barcodes.txt"
      ],
      [
        path: { "${params.outDir}/bcSubset" },
        mode: 'copy',
        pattern: "*_bowtie2.log"
      ]
    ]
  }

  withName: 'bcTrim' {
    publishDir = [
      [
        path: { "${params.outDir}/bcTrim" },
        mode: 'copy',
        pattern: "*.fastq.gz"
      ],
      [
        path: { "${params.outDir}/bcTrim" },
        mode: 'copy',
        saveAs: {filename -> "logs/$filename"},
        pattern: "*log"
      ],
      [
        path: { "${params.outDir}/bcTrim" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ]
    ]
    ext.args = '--alignEndsType EndToEnd --outSAMtype BAM SortedByCoordinate --winAnchorMultimapNmax 1000  --outFilterMultimapNmax 1 --alignIntronMax 1 --peOverlapNbasesMin 10 --alignMatesGapMax 450 --limitGenomeGenerateRAM 25000000000 '
  }

  withName: 'starAlign' {
    publishDir = [
      [
        path: { "${params.outDir}/starAlign" },
        mode: 'copy',
        pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/starAlign" },
        mode: 'copy',
        saveAs: {filename -> "logs/$filename"},
        pattern: "*out"
      ],
      [
        path: { "${params.outDir}/starAlign" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ]
    ]
    ext.args = '--alignEndsType EndToEnd --outSAMtype BAM SortedByCoordinate --winAnchorMultimapNmax 1000  --outFilterMultimapNmax 1 --alignIntronMax 1 --peOverlapNbasesMin 10 --alignMatesGapMax 450 --limitGenomeGenerateRAM 25000000000 '
  }

  withName: 'addBarcodes' {
    publishDir = [
      [
        path: { "${params.outDir}/addBarcodes" },
        mode: 'copy',
        pattern: "*.bam"
      ]
    ]
  }

  //SubWorkflow removePCR
  withName: 'samtoolsSort' {
   publishDir = [
        path: { "${params.outDir}/removePCRdup" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.args = '-n'
  }
  withName: 'samtoolsFixmate' {
     ext.args = '-m'
  }
  withName: 'samtoolsMarkdup' {
    publishDir = [
      [
        path: { "${params.outDir}/removePCRdup" },
        mode: 'copy',
        pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/removePCRdup" },
        mode: 'copy',
        saveAs: {filename -> "logs/$filename"},
        pattern: "*out"
      ]
    ]
  }
  withName: 'samtoolsIndex' {
    publishDir = [
      path: { "${params.outDir}/removePCRdup" },
        mode: 'copy',
        pattern: "*.bai"
    ]
  }

  withName: 'countMatricesPerBin' {
    publishDir = [
      [
        path: { "${params.outDir}/countMatricesPerBin" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ],
      [
        path: { "${params.outDir}/countMatricesPerBin" },
        mode: 'copy',
        pattern: "*.zip"
      ]
    ]
  }

  withName: 'bigwig' {
    publishDir = [
      [
        path: { "${params.outDir}/bigwig" },
        mode: 'copy',
        pattern: "*.bw"
      ],
      [
        path: { "${params.outDir}/bigwig" },
        mode: 'copy',
        pattern: "*_bamToBigWig.log"
      ],
      [
        path: { "${params.outDir}/bigwig" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ]
    ]
  }

}