/*
 * Define modules options
 */


process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

  //tools
  withName: 'starAlign' {
    publishDir = [
      [
        path: { "${params.outDir}/starAlign" },
        mode: 'copy',
        pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/starAlign" },
        mode: 'copy',
        saveAs: {filename -> "logs/$filename"},
        pattern: "*out"
      ],
      [
        path: { "${params.outDir}/starAlign" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ]
    ]
    ext.args = '--alignEndsType EndToEnd --outSAMtype BAM SortedByCoordinate --winAnchorMultimapNmax 1000  --outFilterMultimapNmax 1 --alignIntronMax 1 --peOverlapNbasesMin 10 --alignMatesGapMax 450 --limitGenomeGenerateRAM 25000000000 '
  }

}