conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"
  withLabel:multiqc{ conda = "${params.geniac.tools?.multiqc}" }
  withLabel:python{ conda = "${params.geniac.tools?.python}" }
  withLabel:pytabix{ conda = "${params.geniac.tools?.pytabix}" }
  withLabel:R{ conda = "${params.geniac.tools?.R}" }
  withLabel:bedtools{ conda = "${params.geniac.tools?.bedtools}" }
  withLabel:bowtie2{ conda = "${params.geniac.tools?.bowtie2}" }
  withLabel:cutadapt{ conda = "${params.geniac.tools?.cutadapt}" }
  withLabel:deeptools{ conda = "${params.geniac.tools?.deeptools}" }
  withLabel:homer{ conda = "${params.geniac.tools?.homer}" }
  withLabel:samtools{ conda = "${params.geniac.tools?.samtools}" }
  withLabel:seqkit{ conda = "${params.geniac.tools?.seqkit}" }
  withLabel:seqtk{ conda = "${params.geniac.tools?.seqtk}" }
  withLabel:star{ conda = "${params.geniac.tools?.star}" }
  withLabel:macs2{ conda = "${params.geniac.tools?.macs2}" }
}
