/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'Test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxMemory = 32.GB
  maxCpus = 4
  maxTime = 1.h

  // Input data
  readPaths = [
    ['test', ["$projectDir/test/data/test.R1.fastq.gz", "$projectDir/test/data/test.R2.fastq.gz"]],
   ]

  // Sample Plan - to use instead of readPaths
  //samplePlan = "$projectDir/test/samplePlan.csv"

  // Annotations
  genome =  'mm10'

  // Options
  minReadsPerCellmatrix = 100
  minReadsPerCellmqc = 100

}
