/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'Test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxMemory = 30.GB
  maxCpus = 3
  maxTime = 1.h

  // Input data
  if (params.protocol == "scchip_indrop" ){
    samplePlan = "$projectDir/test/sampleplan_scchip_indrop.csv"
    genome = 'hg38'
  }else if (params.protocol == "sccuttag_10X"){
    samplePlan = "$projectDir/test/sampleplan_sccuttag_10X.csv"
    genome = 'hg38'
  }else if (params.protocol == "sccuttag_indrop"){
    samplePlan = "$projectDir/test/sampleplan_sccuttag_indrop.csv"
    genome = 'hg38'
  }else{
    samplePlan = "$projectDir/test/sampleplan_scchip_indrop.csv"
    genome = 'hg38'
  }

  // Options
  minReadsPerCellmatrix = 100
  minReadsPerCellmqc = 100

}

