#
# scChIP-seq config for MultiQC
#
#################################################################

skip_generalstats: true
read_count_multiplier: 0.000001
read_count_prefix: 'M'
read_count_desc: 'millions'

###################################
## Custom content

custom_data:
    scChIPseq_general_table:
        file_format: 'csv'
        section_name: 'General Metrics'
        description: "A standard experiment will yield at least 1,000 cells with more than 1,000 deduplicated reads (minReads=1,000 by default). 
        Sequencing reads usually contain at least 60% of aligned reads, 15% of aligned & barcoded reads and 10% of deduplicated reads.
        The Fraction of Reads in Peaks (FRiP) is the fraction of deduplicated reads that fall into called peak regions. It is between 0 and 1."
        plot_type: 'table'
        pconfig:
            id: 'scChIPseq_general_table'
            save_file: true
            col1_header: 'Sample ID'
        headers:
            Sample_name:
              title: 'Sample Name'
              scale: false
              placement: 2000
            Tot_frag:
              title: 'Tot. Fragments'
              scale: 'YlGn'
              format: '{:,.0f}'
              placement: 3000
            Aligned:
              title: 'Aligned (%)'
              format: '{:,.0f}'
              min: 0
              max: 100
              suffix: '%'
              scale: 'YlGnBu'
              placement: 6000
            Aligned_Barcoded:
              title: 'Aligned & Barcoded (%)'
              format: '{:,.0f}'
              min: 0
              max: 100
              suffix: '%'
              scale: 'YlGnBu'
              placement: 7000
            Deduplicated_reads:
              title: 'Deduplicated reads (%)'
              format: '{:,.0f}'
              min: 0
              max: 100
              suffix: '%'
              scale: 'YlGnBu'
              placement: 8000
            Cells>minReads:
              title: 'Cells > minReads'
              scale: 'YlGn'
              format: '{:,.0f}'
              placement: 4000
            Reads(median)/cell:
              title: 'Median Reads/cell'
              scale: 'YlGn'
              format: '{:,.0f}'
              placement: 5000
            FRiP:
              min: 0
              max: 1
              title: 'FRiP'
              description: 'Faction of reads in peaks'
              scale: 'RdYlGn'
              format: '{:,.2f}'
              placement: 6000

    scChIPseq_barcode:
        id: 'scChIPseq_barcode'
        file_format: 'csv'
        description: 'In a standard experiment, we expect > 40% of barcoded reads, below 20% the experiment should be repeated.'
        section_name: 'Barcode alignment'
        plot_type: 'bargraph'
        pconfig:
            ylab: '# Reads'
            cpswitch_counts_label': 'Number of Reads'

    scChIPseq_alignments:
        id: 'scChIPseq_alignments'
        file_format: 'csv'
        description: 'Here is a combined summary of genome and barcode alignment statistics. The deduplicated reads (uniquely mapped and barcoded) are the reads used to compute the count matrices of the sample. They correspond to the DNA fragments that were barcoded in drops and immuno-precipitated. In a standard experiment, we expect > 5% of deduplicated mapped reads. PCR duplciates are reads having the same barcode and same R1 and R2 positions, RT duplicates are reads having the same barcode and R1 position and Window duplicates are reads having the same barcode and the same R2 position +/- 50bp (window).'
        section_name: 'Overall alignment summary'
        plot_type: 'bargraph'
        pconfig:
            ylab: '# Reads'
            cpswitch_counts_label': 'Number of Reads'

    umiDistrib:
      file_format: 'csv'
      section_name: 'Coverage'
      description: 'Weighted distribution of the number of unique reads per cell/barcode for all barcodes, without any filtration step. In a standard experiment, we expect a bimodal distribution of the number of reads per barcode. The first peak (<100 unique reads per barcode) corresponds to drops with no cell, and the second peak to drops with cells.'
      plot_type: 'linegraph'
      pconfig:
        id: 'umiDistrib'
        title: 'Weighted Histogram'
        ylab: 'Number of barcodes'
        xlab: 'log10(UMIs)'

sp:
  scChIPseq_general_table:
      fn: 'scChIPseq_table.csv'
  scChIPseq_barcode:
      fn: 'scChIPseq_barcode.csv'
  scChIPseq_alignments:
      fn: 'scChIPseq_alignments.csv'
  umiDistrib:
      fn: '*_distDF.mqc'

table_cond_formatting_rules:
    Aligned:
        pass:
            - gt: 60
        warn:
            - lt: 60
        fail:
            - lt: 25
    Aligned_Barcoded:
        pass:
            - gt: 15
        warn:
            - lt: 15
        fail:
            - lt: 5
    Deduplicated_reads:
        pass:
            - gt: 10
        warn:
            - lt: 10
    Fraction_of_reads_in_peaks:
        pass:
          - gt: 0.01
        fail:
          - lt: 0.01

    
###############################
## Modules 

module_order:
  - star:
     name: 'Genome alignment'
     info: "Alignment is made on all initial reads. Reads are either uniquely mapped or mapped to multiple loci. In a standard experiment, we expect > 40% of uniquely mapped reads."
  - macs2
  - homer


#############################
## Display

report_section_order:
  scChIPseq_general_table:
    order: 1
  bowtie2:
    order: -300
  scChIPseq_barcode:
    order: -400
  star:
    order: -500
  scChIPseq_alignments:
    order: -600
  umiDistrib:
    order: -700
  scChip-seq_pipeline_software_versions:
    order: -1000
  summary:
    order: -1100

plots_force_interactive: True
